<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/search"></ion-back-button>
    </ion-buttons>
    <ion-title>Book Details</ion-title>
    <ion-fab-button slot="end" size="small" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="information" class="ion-padding ion-text-center">
    <ion-card-header>
      <ion-card-title>
        {{ information.volumeInfo.title }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ information.volumeInfo.authors }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content text-center>
      <img [src]="information.volumeInfo.imageLinks.thumbnail" class="info-img">


    </ion-card-content>
  </ion-card>

</ion-content>
